<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Book List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- include("partials/navbar") %>
  <main class="add-book">
    <div class="container">

      <%- include("partials/header-add", {bookData, message}) %>
      
        <!-- <form action="/books/add" method="GET">
          <label>Search by ISBN or Book Title</label>
          <input type="text" name="isbn" required />
          <button type="submit">Autofill</button>
        </form> -->


      <% if (bookData) { %>
        <%- include("partials/book-form", {bookData}) %>
      <% } else if (message) { %>
        <%- include("partials/no-result-message", message) %>
      <% } %>
    </div>
  </main>

  <script src="/js/stars.js"></script>
  <script src="/js/flatpicker.js"></script>
  </body>
</html>
